.header-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* ---------- header title ---------- */

.header-title-container {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;

    padding-left: 23px;
}

.header-title {
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

/* ---------- header title ---------- */


/* ---------- header links---------- */

.header-links-container {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-link-item {
    margin-right: 10px;
    margin-left: 10px;
}

/* ---------- header links ---------- */